* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*cabeçalho*/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 0;
	margin: 20px 0;
}

header img {
	width: 70%;
}

nav a {
	margin: 2%;
	text-decoration: none;
	font-size: 20px;
	color: #1351d8;
}

nav {
	width: 40%;
	
}

.logo {
	width: 158px;
}


/*corpo do texto home*/

body {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

main {
	text-align: center;
	
}

main img {
	max-width: 100%;
	height: auto;
}

/*corpo lancamento*/
.video{
	display: flex;
    justify-content: center;
    background-color: black;
    padding: 1px 0;
    margin: 10px;
}
.anuncio {
    display: flex;
    justify-content: center;
    margin: 3 100px;

}
.anuncio img {
    width: 80%;
    max-width: 250px;
    border-radius: 8px;
	margin: 10px;
}


.imginicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
	
}

.carros input{
    width: 40px;
    height: 23px;
 
}

.carros img {
    width: 10px;
    height: 25px;
}
.carros p{
    color: #0b38a1;
    font-size: 14px;
}
.carros{
    display: flex;
    justify-content:space-evenly;
	align-items: center;
}
.carros img{
    width: 30px;
    margin: 20px;
}

.button{
    display: flex;
    justify-content: center;
	align-items: center;
}
.button2 {
    margin: 40px;
    padding: 12px 30px;
    background-color: #0b3fa5;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    border: none;
}

.button2:hover {
    background-color: #477bf5;
}

/* footer*/

.botao {
	background-color: #1b357e;
	padding: 2% 4%;
	border-radius: 20px;
	border: none;
	color: aliceblue;
	font-size: medium;
}

.botao:hover {
	cursor: pointer;
	background-color: #A9A9A9;
}

/*corpo do contato*/


#formulario{
	display: flex;
	justify-content: center;
	margin: 90px 40px;
}
.form {
	max-width: 350px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 15px;
	flex-wrap: wrap;
  }
  
  .form h2 {
	margin: 10px 25px;
  }
  
  .form input, .form select {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
  }
  
  .form button {
	padding: 10px;
	background-color: #004aad;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	width: 50%;
	align-self: flex-end !important

  }
  
  .form button:hover {
	background-color: #00307a;
  }



/*rodapé*/

.redes-sociais img {
	width: 40px;
	margin: 3px;
}

footer {
	padding: 16px;
	background-color: #1b357e;
	color: #ffff;
	display: flex;
	bottom: 0;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	position: fixed;
}

footer div {
	display: flex;
	justify-content: center;
	align-items: center;

}

.copyright {
	margin-right: 15px;
}


