* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    margin: 20px 0;
}

header img {
    width: 70%;
}

nav a {
    margin: 2%;
    text-decoration: none;
    font-size: 20px;
}

nav {
    width: 40%;
}






















.logo {
    width: 158px;
}

.redes-sociais img {
    width: 40px;
    margin: 3px;
}

footer {
    padding: 16px;
    background-color: #1b357e;
    color: #ffff;
    display: flex;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright {
    margin-right: 15px;
}